aliases = {
  fifoc = "win new hide;exec -interactive -name %$0:$1 [ -e \"$HOME/.irssi/$0:$1\" ]&&[ -e \"$HOME/.irssi/$1:$0\" ] && { tail -f -- \"$HOME/.irssi/$0:$1\" & while read -r L\\;do echo \"[$1] \\$L\" && echo \"[$1]: \\$L\">>\"$HOME/.irssi/$1:$0\"\\;done\\;}";
  refifoc = "win new hid ; exec -interactive %$0:$1";
  hupall = "hup 0;hup 1;hup 2;hup 3;hup 4;hup 5;hup 6;hup 7";
  hup = "exec -hup %$0";
}
